################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TfsQueryConsole/v15
/TfsQueryConsole/obj/Debug
